<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground Index</title>
</head>
<body>
    <h1>All campgrounds</h1>
    <a href="/campgrounds/new">New campground</a>
    
    <ul>
        <% for(let cmp of campgrounds) {%>
            <li><a href='/campgrounds/<%= cmp._id %>'><%= cmp.title %></a></li>

            <% } %>
    </ul>
        
</body>
</html>