<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">


    <form action="/campgrounds" method="POST">
        <div class="mb-3">
            <label class = "form-label" for="title">Title</label>
            <input class= "form-control"type="text" id="title" name="title">
        </div>
        <div class="mb-3">
            <label class = "form-label" for="price">Price</label>
            <input class= "form-control" type="number" id="price" name="price">
        </div>
        <div class="mb-3">
            <label class = "form-label" for="description">Description</label> 
            <textarea class= "form-control" type="text" id="description" name="description"> </textarea>
        </div>
       <div class="mb-3">
             
        <label class = "form-label" for="location">Location</label>
        <input class= "form-control" type="text" id="location" name="location"> 
       </div>

       <div class="mb-3">
             
        <label class = "form-label" for="image">Image Url</label>
        <input class= "form-control" type="text" id="image" name="image"> 
       </div>


        <button class="btn btn-success mb-3"> Submit</button>
    </form>
    <footer>
        <a href="/campgrounds"> Back to all campgrounds</a>
    </footer>
    </div>
</div>
